.playbg {
  background-image: url(/pagesPlay/img/bg.png);
  background-color: #000;
  background-size: 130% 100%;
  background-position: 45% 0;
}
.playbg2 {
  background-image: url(/pagesPlay/img/bg.png);
  background-color: #000;
  background-size: 130% 103%;
  background-position: 45% -80rpx;
  color: #fff;
}
.omg {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.clearfix {
  zoom: 1;
}
